/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 31, 2016, 11:39:06 AM
    Author     : bogdanhaidu
*/

html,
body {
    margin:0;
    padding:0;
    height:100%;
}
#wrapper {
    min-height:100%;
    position:relative;
}
section {
    position:relative;
    -webkit-transition: padding .25s ease-out;
    transition: padding .25s ease-out;
    padding-bottom:40px; /* Height of the footer element */
}
footer {
	width:100%;
	height:40px;
	position:absolute;
	bottom:0;
	left:0;
        color:white;
        background-color:black;
        font-size:15px;
        line-height: 40px;
}

header,section,footer {
    text-align: center;
}

header h2 {
    background-color:gray;
}
.bc_frame {
    margin : 0 auto;
    border : 1px solid black;
    width:80%;
    height : 420px;
}
.bc_frame header,
.bc_frame section{
    margin : 0 auto;
}

.work_table_info {
    margin:0 auto;
    width:30%;
}

.work_table_info table{
    margin:0 auto;
    width:100%;
   
}
.work_table_info table td {
   border-bottom: 1px solid black;  
}
